<%= form_for(@cita) do |f| %>
  <% if @cita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cita.errors.count, "error") %> prohibited this cita from being saved:</h2>

      <ul>
      <% @cita.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora %><br />
    <%= f.text_field :hora %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :estados_id %><br />
    <%= f.text_field :estados_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
