<h1>Listing ordenes</h1>

<table>
  <tr>
    <th>Cita</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ordenes.each do |orden| %>
  <tr>
    <td><%= orden.cita_id %></td>
    <td><%= orden.estado_id %></td>
    <td><%= link_to 'Show', orden %></td>
    <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
    <td><%= link_to 'Destroy', orden, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orden', new_orden_path %>
